@import "~@fontsource/league-gothic/scss/mixins";

//Colors
$primary-color: #7E53FD;
$secondary-color: #38394F;
$primary-bg-color: #F9FAFC;



//Fonts
$primary-font: Open Sans;
$secondary-font: League Gothic;
$font-color-1: #000000;
$font-color-2:#7C828D;



//layout
$max-width: 1320px;